<script setup lang="ts">
// This should be proxied
const { data:apiData1 } = await useFetch('/api/student/quizgroup/quiz/5e957950330e1602150310dd?limit=10&sort=startDate&orderBy=DESC&checkLastScore=true&totalRecords=true', { server: true })
const { data:apiData2 } = await useFetch('/api/abcd/student/quizgroup/quiz/61a872b4ab9ac802fe4cb555?limit=10&sort=startDate&orderBy=DESC&checkLastScore=true&totalRecords=true', { server: true })
</script>

<template>
  <div>
    <div style="background-color: antiquewhite;">
      <div>
        apiData1: {{ apiData1 }}
        <div>
          <a href="/api/student/quizgroup/quiz/5e957950330e1602150310dd?limit=10&sort=startDate&orderBy=DESC&checkLastScore=true&totalRecords=true" target="_blank">
            Proxy apiData1 Url     
          </a>
        </div>
        <div>
          <a href="https://abcschool.institute.org.in/api/student/quizgroup/quiz/5e957950330e1602150310dd?limit=10&sort=startDate&orderBy=DESC&checkLastScore=true&totalRecords=true" target="_blank">
            Actual apiData1 Api Url
          </a>
        </div>
      </div>
    </div>
    <div style="background-color: lightblue;">
      <div>
        apiData2: {{ apiData2 }}
        <div>
          <a href="/api/abcd/student/quizgroup/quiz/61a872b4ab9ac802fe4cb555?limit=10&sort=startDate&orderBy=DESC&checkLastScore=true&totalRecords=true" target="_blank">
            Proxy apiData2 Url          
          </a>
        </div>
        <div>
          <a href="https://ensureias.com/api/student/quizgroup/quiz/61a872b4ab9ac802fe4cb555?limit=10&sort=startDate&orderBy=DESC&checkLastScore=true&totalRecords=true" target="_blank">
            Actual apiData2 Api Url          
          </a>
        </div>
      </div>
    </div>
  </div>

</template>